@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
    position: relative;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 9rem 0;
}
.btn {
    /* background-color: #ff0000;
    color: #fff; */
    border-radius: 30px;
    padding: 0.5rem 1.8rem;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.footer-bestMovies {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #0f0f0f, rgba(0, 0, 0, 0));
}
